{% extends "league/base.html" %}

{% block title %}Delete Player | JBL{% endblock %}

{% block content %}

<section class="delete-section">

    <div class="form-card">

        <h2>Confirm Deletion</h2>

        <p>
            Are you sure you want to delete the player:
            <strong>{{ object.name }}</strong>?
        </p>

        <form method="post" class="main-form">
            {% csrf_token %}

            <div class="form-actions">
                <button type="submit" class="btn btn-delete">
                    Confirm Delete
                </button>

                <a href="{% url 'player_list' %}" class="btn-secondary">
                    Cancel
                </a>
            </div>
        </form>

    </div>

</section>

{% endblock %}